.logo {
  @include verticalCenter;
  margin: 5px auto;
  width: 300px;
  border-radius: 30px;
  padding: 5px 0;
  background: url(../../assets/img/main.jpg) center/cover;
  border: solid rgb(39, 158, 167) !important;
  box-shadow: 1px 5px 12px 5px rgb(21, 105, 131) ;

  img {
    height: 40px;
  }
  h3 {
    margin-left: 10px;
    color: $color-1;
  }
}
